<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand">
            <i class="fa fa-television" style="color:darkslategrey;" aria-hidden="true"></i>TV TRACKER
            </a>


            <!--<h5 style="font-size: small;color: black;padding-top: 8px">TV TRACKER</h5>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-right">
                <form class="navbar-form">
                    <span><a href="#!/profile/{{model.currentUser.username}}"><span style="color:darkslategrey;" class="glyphicon glyphicon-user"></span></a></span>
                    <span ><a href="#!/"><span style="color:darkslategrey;" class="glyphicon glyphicon-home"></span></a></span>
                    <span ><a href="#!/logout"><span style="color:darkslategrey;" class="glyphicon glyphicon-log-out"></span></a></span>
                    <span ><a href="#!/main-user"><span style="color:darkslategrey;" class="glyphicon glyphicon-cog"></span></a></span>
                    <div class="form-group">
                    <div class="form-group">



                    <input  ng-model="query"
                            id="search"
                            placeholder="Search"
                            type="text"
                            class="form-control"/>
                    </div>



                    <a ng-if="query"href="#!/search/{{query}} " type="submit" class="btn btn-default"><i class="fa fa-search" style="color:darkslategrey;" aria-hidden="true"></i>Search</a>
                    <span ng-if="!model.currentUser._id"><a href="#!/login" class="btn btn-default ">Login</a></span>
                    <span ng-if="!model.currentUser._id"><a href="#!/register" class="btn btn-default ">Sign Up</a></span>

                    </div>
                </form>



            </div>


        </div>
    </div>
</nav>